@import "../../styles/variables";

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: $spacing-xl;
  height: $spacing-xl;
  border: $border-width * 4 solid $border-color;
  border-top: $border-width * 4 solid $color-primary;
  border-radius: 50%;
  animation: spin $animation-duration-normal linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
